; 地名語抽出システム
; プロファイル
; ローカルディレクトリ用

; parse()の戻り値のフォーマットの指定。
; DefaultGeowordFormatterあるいはChasenGeowordFormatterのいずれかを指定する。
; DefaultGeowordFormatterはMeCabのデフォルトフォーマット、
; ChasenGeowordFormatterはchasenフォーマットにそれぞれ準拠したもの。
formatter = DefaultGeowordFormatter
; formatter = ChasenGeowordFormatter

; 地名接頭辞集合の定義。地名接頭辞を'|'で区切って記す。
prefix = 東|西|南|北|上|中|下|新

; 地名接尾辞集合の定義。地名接尾辞は、表層形、読み、発音をカンマで区切って示す。
; 複数ある場合にはこれを'|'で区切って記す。
suffix = 前,マエ,マエ|内,ナイ,ナイ|立,リツ,リツ

; 空間語の定義。空間語は、品詞に関わらず地名語の後に続くことができる。
; 複数ある場合にはこれを'|'で区切って記す。
spatial = 付近|周辺|周囲|経由|沿線|沿岸|沖|上流|下流|河口|出身|地区|－|間|地|発|着

; 利用するデフォルトテーマのリスト
; 正規表現で記述し、順番に評価する。いずれかに一致すれば利用する。
; ただし "-" で始まる表記に一致するテーマは除外される。
theme = .*|-研究機関

; データファイルディレクトリ
; このディレクトリ下に geodic.sq3 が必要
data_dir = ./
